<div>
    <h1>Delete Book</h1>

    <%= form_with(model: @book, method: :delete) do |f| %>
        <p>Are you sure you want to delete the book titled "<%= @book.title %>"?</p>
        <%= f.submit("Delete Book") %>
    <% end %>

    <br>

    <%= link_to "Back to books", books_path %>
</div>