<div id="<%= dom_id user_book %>">
  <p>
    <strong>User:</strong>
    <%= User.where(id: user_book.user_id).first.username %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= Book.where(id: user_book.book_id).first.title %>
  </p>

</div>
